.idea/
byte-assistant/.venv
node_modules/
dist/
/.venv1/
/node_modules/
/dist/
/.idea/
/byte-assistant/.venv
__pycache__/
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.pdf          
*.dvi
*.lof          
*.lot          
*.idx
*.ind
*.ilg
*~